#list
  = link_to "Inserir Nov#{t('activerecord.attributes.gallery.gender')} #{t('activerecord.models.gallery')}", new_admin_gallery_path, :class => 'button'
  - unless @galleries.empty?
    %ul.items.sortable
      - @galleries.each do |gallery|
        %li.item
          %h2= gallery.name
          %p
            %strong Ultima atualização:
            = l(gallery.updated_at.to_date, :format => :long)
          %ul
            %li
              = link_to edit_admin_gallery_path(gallery), :class => 'link' do
                = image_tag('admin/document--pencil.png')
                Editar

      %li= will_paginate @gallery

