#text_content
  %p= "Tectus Arquitetura nasceu em março de 2001 da união de três arquitetos em busca de inovação e construção racional; desde então atuamos no mercado produzindo projetos e obras residenciais, comerciais e corporativas. O foco do escritório é a criação de soluções para se viver e trabalhar através da busca incessante de ir ao encontro dos desejos de seus clientes."


  %p.list-group= "Serviços:"

  %ul
    %li= "Projetos Arquitetônicos: Obras novas ou reformas. Projetos realizados através de softwares em ambiente 3D, permitindo a fácil visualização do objeto em estudo." 
    %li= "Acompanhamento de Obra: Visitas técnicas agendadas às obras para verificação e consultorias em relação aos projetos realizados."
    %li= "Linguagem Visual: Estudos de Padronização de Layouts e Acabamentos para empresas."
    %li= "Sistema Turn Key: Solução completa desde a escolha do terreno ou imóvel, passando por todos os projetos até a entrega efetiva da obra."

#image
  = image_tag("imagem_escritorio.png")
