
= form_for :contact  do |f|

  #left
    #address
      %p (19) 3295.5372
      %p r. rafael andrade duarte, 127
      %p nova campinas - campinas - sp
  #right
    %table
      %tr
        %td
          .field_group
            = f.label :name, "nome"
            = f.text_field :name, :class => 'text_field'
        %td
          .field_group
            = f.label :phone, "fone"
            = f.text_field :phone, :class => 'text_field'
      %tr
        %td
          .field_group
            = f.label :city, "cidade"
            = f.text_field :city, :class => 'text_field'
        %td
          .field_group
            = f.label :email, "e-mail"
            = f.text_field :email, :class => 'text_field'
      %tr
        %td{:colspan => 2}
          .field_group
            = f.label :message, "mensagem"
            = f.text_area :message, :class => 'text_area'


  = f.submit "", :class => 'button'
